@import "~styles/_mixins.scss";

.box-comment {
  a {
    color: #fff;
    &:hover{
      text-decoration: none;
    }
  }
  img {
    width: 40px;
    height: 40px;
    border-radius: 50%;
  }
  &__item {
    p {
      strong {
        color: #27aae1;
      }
      line-height: 22px;
    }
  }
  &__input {

  }
}